# Dart and Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/
.worktrees/

# Android Studio and IntelliJ
*.iml
.idea/

# Visual Studio Code
.vscode/

# Platform build output
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/
macos/Pods/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
